@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

.homepage_header {
  font-family: 'Amatic SC', cursive;
  font-size: 135px;
}

.navbartabs {
  font-family: 'Slabo 27px', serif;
  color: white;
  font-size: 20px;
  text-align: center;
  background-color:  #6b8e23;
}

a:hover {
text-decoration: none;
}

.blockquote {
  font-family: 'Slabo 27px', serif;
  color: white;
  font-size: 30px;
  background-color: #6b8e23;
  padding-top: 30px;
}

#blockquote {
  background-color: #6b8e23;
}

.contactme_header {
  font-family: 'Amatic SC', cursive;
  font-size: 135px;
  text-align: center;
}

.aboutme {
  font-family: 'Slabo 27px', serif;
  font-size: 30px;
}

.superfruit {
  font-family: 'Slabo 27px', serif;
  font-size: 30px;
}
.recipes {
  font-family: 'Slabo 27px', serif;
  font-size: 30px;
}
.recipes_header {
  font-family: 'Amatic SC', cursive;
  font-size: 135px;
  text-align: center;
}

#contactbar {
  text-align: center;
  padding-top: 15px;
}

.superfruit_header {
  font-family: 'Amatic SC', cursive;
  font-size: 135px;
  text-align: center;
}

.recipe1 {
  font-size: 18px;
}
.recipe1_header {
  font-family: 'Slabo 27px', serif;
  font-size: 25px;
  color:  #6b8e23;
}
