@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

.header {
  font-family: 'Amatic SC', cursive;
  font-size: 135px;
}

.navbartabs {
  font-family: 'Slabo 27px', serif;
  color: white;
  font-size: 20px;
  text-align: center;
  background-color:  #6b8e23;
}

a:hover {
text-decoration: none;
}

p .blockquote {
  font-family: 'Slabo 27px', serif;
  color: white;
  font-size: 50px;
  background-color: #6b8e23;
}

.contactme {
  font-family: 'Amatic SC', cursive;
  font-size: 135px;
}
