<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <!--navigation bar-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <a href="about.html">
      <p class="navbartabs">about me</p>
    </a>
    </div>
    <div class="col-md-2">
      <a href="superfruit.html">
      <p class="navbartabs">the super fruit</p>
    </a>
    </div>
    <div class="col-md-2">
      <a href="recipes.html">
      <p class="navbartabs">recipes</p>
    </a>
    </div>
    <div class="col-md-2">
        <a href="default.html">
        <p class-"navbartabs">home</p>
    </div>
  </div>
  {{ content }}
</body>
</html>
